div.div1 {
    margin: 0px;
    right: ;
    width: 300px;
    height: 330px;
    border: 0px solid #333;
}
div.div2 {
    margin: 0px;
    right: ;
    width: 295px;
    height: 235px;
    border: 3px solid #333;
}
div.div3 {
    margin: 0px;
    right: ;
    width: 300px;
    height: 330px;
    border: 0px solid #333;
}
div.div4 {
    margin: 0px;
    right: ;
    width: 295px;
    height: 235px;
    border: 3px solid #333;
}
div.div5 {
    margin: 0px;
    right: ;
    width: 300px;
    height: 330px;
    border: 0px solid #333;
}
div.div6 {
    margin: 0px;
    right: ;
    width: 295px;
    height: 235px;
    border: 3px solid #333;

  form {  /* Box form menu */
        opacity: 0.90;
        border: 2px solid black; /* ��������� ������� */
        padding: 30px; /* ���� ������ ������ */
        background-color: #363636;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        margin: 20px auto;
        width: 1220px;
        height: 800px;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        -webkit-box-shadow:  0px 10px 20px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 7px 6px rgba(178, 34, 34);
